@model ContosoHotel.Models.Room

@{
    ViewBag.Title = "Confirmation";
}

<h2>Reservation Confirmation</h2>
<p>Your reservation has been confirmed!</p>
<p>Thank you for staying with us at Contoso Hotel!</p>
<p>Please print or save a copy of this page for your records.</p>

<div>
    <br />
    <h4>Reservation Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Reservation ID:
        </dt>

        <dd>
            1000001564 @*TODO: Change to reservation primary key*@
        </dd>

        <dt>
            Room Number:
        </dt>

        <dd>
            @ViewData["roomID"]
        </dd>

        <dt>
            Room Type:
        </dt>

        <dd>
            @ViewData["roomType"]
        </dd>

        <dt>
            Total Price:
        </dt>

        <dd>
            $@ViewData["roomPrice"]
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @ViewData["guestEmail"]
        </dd>

        <dt>
            Phone:
        </dt>

        <dd>
            @ViewData["guestPhone"]
        </dd>

        <dt>
            Name:
        </dt>

        <dd>
            @ViewData["guestName"]
        </dd>

        <dt>
            Billing Address:
        </dt>

        <dd>
            @ViewData["guestAddress"]
        </dd>


    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
