@model ContosoHotel.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Reservation ID:
        </dt>

        <dd>
            <span>1000200</span>@Html.DisplayFor(model => model.ReservationID)
        </dd>

        <dt>
            Guest Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.Name)
        </dd>

        <dt>
            Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.Address)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.Email)
        </dd>

        <dt>
            Phone:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.Phone)
        </dd>

        <dt>
            Room No:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>

        <dt>
            Room Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomType)
        </dd>

        <dt>
            Room Price:
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Room.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
