@model IEnumerable<ContosoHotel.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guest.Identifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.Identifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomType)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Room.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationID })
        </td>
    </tr>
}

</table>
